/* ========GOOGLE FONTS========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* ========VARIABLE CSS========= */
:root {
  /* =====COLORS VARIABLE===== */
  --mein-color: #ffffff;
  --banner-color: #2d25a0;
  --bold-text: #18191f;
  --regular-text: #6c6c6c;
  --button-bg: #e02c6d;
  --icon-bg-color: #ddd;
  --hover-color: #42b7fbfa;
  /* =====FONT SIZES====== */
  --banner-font-size: 64px;
  --bold-text-font-size: 28px;
  --text-font-size: 16px;
  --copyright-font-size: 24px;
  --heading-font-size: 25px;
  /* =======GAP SIZE======= */
  --players-top-gap: 70px;
  --player-bottom-gap: 27px;
  --player-between-gap: 30px;
  --banner-row-gap: 102px;
  --player-padding: 15px;
  --players-bottom-gap: 80px;
  /* =======WIDTH====== */
  --mein-width: 1050px;
  --banner-text: 485px;
  --banner-img: 556px;
  --banner-image-highr:438px;
  --button-width: 148px;
  --player-box-width: 330px;
  --logo-width: 483.87px;
  --player-image-width: 300px;
  /* ====HEIGHT==== */
  --logo-height: 110px;
  --banner-height: 540px;
  --player-image-height: 256px;
  /* --button-height:44px; */
  --header-top: 42px ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*------- all button ----- */
.btn {
  background-color: var(--button-bg);
  width: var(--button-width);
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}
.btn a {
  padding: 15px 10px;
  color: var(--mein-color);
  text-decoration: none;
}
.effect {
  background-color: var(--hover-color);
  width: var(--button-width);
  height: 100%;
  position: absolute;
  top: 0;
  left: -150px;
  transition: all 0.5s;
  padding: 12px 10px;
}
.btn:hover .effect {
  left: 0px;
}
 /* -----container desin----- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------header section------ */
header {
  background-color: var(--banner-color);
  display: flex;
  justify-content: center;
}
nav {
  background-color: va(--banner-color);
  width: var(--mein-width);
  margin: var(--header-top) 0;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu-item ul li {
  display: inline;
  color: var(--mein-color);
  margin-right: 30px;
}
/* ------banner section------ */
.banner {
  background-color: var(--banner-color);
  display: flex;
  justify-content: center;
}
.banner-info {
  width: var(--mein-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: var(--banner-row-gap);
  padding-bottom: 3rem;
}
.banner-text {
  width: var(--banner-text);
}
.banner-text h1 {
  font-size: var(--banner-font-size);
  color: var(--mein-color);
}

.banner-img {
  height: var(--banner-image-highr);
  width: var(--banner-img);
}
.banner-img img {
  height: 100%;
  width: 100%;
}

/* -----players section----- */


.players {
  width: var(--mein-width);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin: var(--players-top-gap) 0 var(--players-bottom-gap) 0;
  grid-row-gap: var(--player-bottom-gap);
  grid-column-gap: var(--player-between-gap);
}
.player {
  width: var(--player-box-width);
  padding: var(--player-padding);
  box-shadow: 0 0 20px 0px #ddd;
}
.player-img img {
  width: var(--player-image-width);
  height: var(--player-image-height);
}
.player-info p {
  text-align: justify;
  color: var(--regular-text);
}

/* -------gallary section------- */

.gallary {
  width: var(--mein-width);
  margin-bottom: 7rem;
}
.heading {
  text-align: center;
  font-size: var(--heading-font-size);
  padding: 20px 0;
}

.gallery-images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 12.5rem);
  gap: .5rem;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* -----gallary item----- */
.item-1{
  grid-column: 1 / span 1;
  grid-row:  1 / span 1;
}
.item-2{
  grid-column: 1 / span 1;
  grid-row:  2 / span 1;
}
.item-3{
  grid-column: 2 / span 1;
  grid-row:  1 / span 2;
}
.item-4{
  grid-column: 3 / span 1;
  grid-row:  1 / span 3;
}
.item-5{
  grid-column: 1 / span 2;
  grid-row:  3 / span 2;
}
.item-6{
  grid-column: 3 / span 1;
  grid-row:  4 / span 1;
}

/* --------news latter section------ */

.news-latter-detille{
  width: var(--mein-width);
  display: flex;
  justify-content: space-around;
}
.news-latter-text{
  width: 50%;
  height: 3rem;
}
.news-latter-text h3{
font-size: 4rem;
color: black;
}
.news-latter-input input{
  margin-top: 3rem;
  height: 2.4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 4px;
  width: 100%;
}
.news-latter-input a{
  text-decoration: none;
  color: white;
}
/* ----------footer section ---------- */
footer{
  margin-top: 8rem;
}
.logo img {
  width: var(--logo-width);
  height: var(--logo-height);
}

.fab {
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  margin: 16px;
  background-color: var(--icon-bg-color);
  color: var(--regular-text);
  border-radius: 50%;
}
.copyright {
  margin-bottom: 16px;
}

 /* Responsive  */
 @media screen and (min-width:700px) and (max-width:1000px){
  /* header nav bar  */
  .menu-item{
      display: none;
  }
   .login{
     display:none;
   }
  .menu-item >.bar{
    display: block;
    color: white;
    font-size: 1.6rem;

  }
  /* banner responsive */
  .banner-info {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    padding-bottom: 2rem;
    margin-left: 1rem;
  }
  .banner-text{
    width: 0rem  ;
  }
  .banner-text h1 {
    width: 80%;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .banner-img  img{
    max-width: 80%;
    max-height: 70%;
  }
  /* players  */
  .players {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: var(--players-top-gap) 0 var(--players-bottom-gap) 0;
  }
  .player {
    width: 100%;
    padding: var(--player-padding);
  }
.player-img img{
  
  width: 100%;

}
  /* gallary  */

/* image gallary */
.gallery-images {
  grid-template-columns: repeat(2, 1fr);
}

/* Gallery Layout */
.item-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.item-2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.item-3{
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.item-4 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
}

.item-5 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.item-6{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

  /* newsletter  */


.news-latter-detille{
  width: 100%;
  justify-content: space-between;
}
.news-latter-text{
  width: 50%;
  height: 2rem;
}
.news-latter-text h3{
font-size: 3rem;
}

}






















/* Responsive  */
@media screen and (max-width:700px){
  main{
    width: fit-content;
  }
  /* header nav bar  */
  .menu-item{
      display: none;
  }
  /* banner responsive */
  .banner{
    width: fit-content;
  }
  .banner-img {
    width: 100%;
  }
  
  .banner-info {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    padding-bottom: 2rem;
    margin-left: 1rem;
  }
  .banner-text {
    width: 100%;
    margin-bottom: 2rem
}
  .banner-text h1 {
    width: 82%;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .banner-img  img{
    max-width: 100%;
    max-height: 100%;
  }
  /* players  */
  .players {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .player{
    width: 100%;
    height: 40%;
  }
  .player  img{
    width: 100%;
    height: 50%;
    padding: var(--player-padding);
  }
.player-info{
  width: 100%;
}
  /* gallary  */

  
.gallary {
  width: 100%;
  margin-bottom: 7rem;
}
.heading {
  text-align: center;
  font-size: var(--heading-font-size);
  padding: 20px 0;
}



.gallery-images {
  display: block;
}

.image {
  margin: .5rem;
}

.image__link {
  height: 80vw;
}


  /* newsletter  */


.news-latter-detille{
  width: 100%;
  flex-direction: column;
}
.news-latter-text{
  width: 100%;
  height: 100%;
}
.news-latter-text h3{
font-size: 3rem;
}
.logo img{
  width: 80%;
}

}

