/* ========GOOGLE FONTS========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ========VARIABLE CSS========= */
:root{
    /* =====COLORS VARIABLE===== */
    --mein-color:#FFFFFF;
    --banner-color:#2D25A0;
    --bold-text:#18191F;
    --regular-text:#6C6C6C;
    --button-bg:#E02C6D;
    /* =====FONT SIZES====== */
    --banner-font-size:64px;
    --bold-text-font-size:28px;
    --text-font-size:16px;
    --copyright-font-size:24px;
    /* =======GAP SIZE======= */
    --players-top-gap:70px;
    --player-bottom-gap:27px;
    --player-between-gap:30px;
    --banner-row-gap:102px;
    /* =======WIDTH====== */
    --mein-width:1050px;
    --banner-text:485px;
    --banner-img:419px;
    /* ====HEIGHT==== */
    --banner-height:591px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ------banner section------ */
.banner{
    background-color: var(--banner-color);
    height: var(--banner-height);
    display: flex;
    justify-content: center;
}
.banner-info{
    width: var(--mein-width);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: var(--banner-row-gap);
}
.banner-text{
    width: var(--banner-text);
}
.banner-text h1{
    font-size: var(--banner-font-size);
    color: var(--mein-color);
}

.banner-img{
    width: var(--banner-img);
}
.banner-img img{
    width: 100%;
}